/* Coolors Exported Palette - coolors.co/cec2ff-b3b3f1-dcb6d5-cf8ba9-b15e6c */

/* HSL */
$color1: hsla(252%, 100%, 88%, 1);
$color2: hsla(240%, 69%, 82%, 1);
$color3: hsla(311%, 35%, 79%, 1);
$color4: hsla(334%, 41%, 68%, 1);
$color5: hsla(350%, 35%, 53%, 1);

/* RGB */
$color1: rgba(206, 194, 255, 1);
$color2: rgba(179, 179, 241, 1);
$color3: rgba(220, 182, 213, 1);
$color4: rgba(207, 139, 169, 1);
$color5: rgba(177, 94, 108, 1);